.signup-wrapper
    h1.subject 会员注册
    form(name="signup" method ="post" action="/signup")
        input.signup-phone(type="text" name="phone" placeholder="请输入手机")
        input.signup-pwd(type="password" name="password" placeholder="请输入密码")
        .requestpin-wrapper
            input.setpin(type="text" name="pin" placeholder="请输入验证码")
            .requestpin 获取手机验证码
        input.signup(type="submit" value="注册")
        p.go-signin-wrapper
            span.go-signin 立即登陆
