.signin-wrapper
    h1.subject 会员登录
    form
        input.signin-name(type="text" name="name")
        input.signin-pwd(type="password" name="password")
        .findback-wrapper
            label.autologin
                input(type="checkbox" name="autologin")
                | 1周内自动登录
            span.findback 找回密码？
        input.signin(type="submit" value="登录")
        p.go-signup-wrapper
            span.go-signup 没有账号？免费注册
